<link rel="stylesheet" href="/src/frontend/styles/style.css">

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" id="product_form">
                <div class="add-page-header">
                    <div class="text-center">
                        <h1>Add product</h1>
                    </div>
                    <div class="action-btn">
                        <button id="submit" type="submit" class="btn btn-primary" name="submit">Save</button>
                        <a href="/" class="btn btn-warning"> Cancel </a>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" id="message" style="display: none;">

                </div>
                <div class="form-group">
                    <label for="sku">SKU</label>
                    <input type="text" class="form-control" id="sku" name="sku" required>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Price($)</label>
                    <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="productType">Type</label>
                    <label for="productType"></label>
                    <select class="form-control" id="productType" name="type" required>
                        <option value='0'>DVD</option>
                        <option value='1'>Book</option>
                        <option value='2'>Furniture</option>
                    </select>
                </div>
                <div class="form-group" id="attributes">
                    <label for="size">Size (MB)</label>
                    <input type="number" class="form-control" name="size" id="size" required>
                    <p>
                        Pleas provide Size in MB.

                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/src/frontend/js/add.js"></script>