<link rel="stylesheet" href="/src/frontend/styles/style.css">
<div class="container">
    <div class="alert alert-success" role="alert" id="message" style="display: none;"></div>
    <form method="post" action="" class="row" >
        <div class="list-header">
            <div class="text-center">
                <h1>Product list</h1>
            </div>
            <div class="mass-delete" >
                <button type="submit" name="submit" id="delete-product-btn">MASS DELETE</button>
            </div>
        </div>
        <div class="products col-12 row">

        </div>
    </form>
</div>

<script src="/src/frontend/js/list.js"></script>