.products{
    margin-top: 20px;
}

.list-header{
    display: contents !important;
    border-bottom: 1px black solid;
}

.mass-delete,.action-btn{
    margin-left: auto;
    margin-top: 10px;
}

.add-page-header{
    display: flex !important;
    border-bottom: 1px black solid;
    margin-bottom: 10px;

}